<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#4ca3e2">

	<link rel="icon" href="./assets/nextntp_logo.svg" type="image/svg+xml">
	
    <title><%= title %></title>
  	<meta name="author" content="Ursu Eduard Cornelius">
	<meta name="description" content="<%= description %>">
	<meta name="keywords" content="Eduard Ursu,d3ward,github,<%= keywords %>">
	<!-- Google / Search Engine Tags -->
	<meta itemprop="name" content="<%= title %>">
	<meta itemprop="description" content="<%= description %>">
	<meta itemprop="image" content="https://d3ward.github.io/assets/preview_thumbnail.png">
	<!-- Open Graph Tags -->
	<meta property="og:url" content="<%= url %>">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%= title %>">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:image" content="https://d3ward.github.io/assets/preview_thumbnail.png">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="<%= url %>">
	<meta name="twitter:title" content="<%= title %>">
	<meta name="twitter:description" content="<%= description %>">
	<meta name="twitter:image" content="https://d3ward.github.io/assets/preview_thumbnail.png">
</head>