<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', { 
        page: 'themes' , 
        title:'Themes - NextNTP', 
        description:"Explore and personalize your New Tab Page with NextNTP's diverse collection of customizable themes.",
	    url: 'd3ward.github.io/nextntp/themes' ,
	keywords:'NextNTP,New Tab Page,d3ward,portfolio,projects,github,css,js,kiwi,html,extensions' }) %>
    <script async src="https://d3-umami.up.railway.app/script.js" data-website-id="d4ed21a8-c963-4f2f-bd84-a6d9ff561456"></script>
    
<body>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="_float-top wave" preserveaspectratio="none">
        <defs>
            <linearGradient id="gradient1" x1="0%" y1="0%" x2="50%" y2="100%">
                <stop offset="0%" style="stop-color:#4ca3e2;" />
                <stop offset="100%" style="stop-color:var(--primary);" />
            </linearGradient>
        </defs>
        <path fill="url(#gradient1)"
            d="M0,224L26.7,208C53.3,192,107,160,160,144C213.3,128,267,128,320,133.3C373.3,139,427,149,480,170.7C533.3,192,587,224,640,208C693.3,192,747,128,800,133.3C853.3,139,907,213,960,229.3C1013.3,245,1067,203,1120,192C1173.3,181,1227,203,1280,213.3C1333.3,224,1387,224,1413,224L1440,224L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z">
        </path>
    </svg>
    <%- include('partials/header.ejs', {page:'themes'}) %>
    <%- include('partials/support_me.ejs') %>
    <main>

        <!-- Header -->
        <div class="hero">
            <div class="_aos-top">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 128 128"><path fill="#4ca3e2" d="M107.56 29.568c-6.779.104-44.793.122-66.682.105-7.229-.124-7.203 13.1 0 13.21h46.223c8.324-.022 8.232 14.42 0 14.598H63.18c-6.287.152-6.345 12.704 0 12.972h11.758c3.85 0 5.982 3 6.4 6.317.088 4.545-2.599 8.586-6.4 8.687H63.179c-7.083-.133-7.403 12.677 0 12.975h17.76c4.808.034 6.475-2.638 7.362-4.216 8.345-17.716 16.58-36.007 24.461-54.175.503-1.203 1.082-2.072 1.238-3.865 0-3.65-2.883-6.61-6.44-6.608zM36.821 57.48c-8.11.133-7.603 12.909 0 12.972h12.165c7.797 0 7.51-13.021 0-12.972zm-17.84 27.976c-6.768.109-6.514 12.75 0 12.975h30.005c7.105.018 6.902-12.953 0-12.975z"/></svg>
                </div>
                <h3><strong>Next NTP Themes</strong></h3>
                <div>
                    <a href="https://d3ward.github.io/nextntp" class="btn btn-p">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 128 128" height="24" width="24"><path d="M107.56 29.568c-6.779.104-44.793.122-66.682.105-7.229-.124-7.203 13.1 0 13.21h46.223c8.324-.022 8.232 14.42 0 14.598H63.18c-6.287.152-6.345 12.704 0 12.972h11.758c3.85 0 5.982 3 6.4 6.317.088 4.545-2.599 8.586-6.4 8.687H63.179c-7.083-.133-7.403 12.677 0 12.975h17.76c4.808.034 6.475-2.638 7.362-4.216 8.345-17.716 16.58-36.007 24.461-54.175.503-1.203 1.082-2.072 1.238-3.865 0-3.65-2.883-6.61-6.44-6.608zM36.821 57.48c-8.11.133-7.603 12.909 0 12.972h12.165c7.797 0 7.51-13.021 0-12.972zm-17.84 27.976c-6.768.109-6.514 12.75 0 12.975h30.005c7.105.018 6.902-12.953 0-12.975z"/></svg>
                        Go to NextNTP
                    </a>
                    <a class="btn">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 12.5v-4.509a1.98 1.98 0 0 0 -1 -1.717l-7 -4.008a2.016 2.016 0 0 0 -2 0l-7 4.007c-.619 .355 -1 1.01 -1 1.718v8.018c0 .709 .381 1.363 1 1.717l7 4.008a2.016 2.016 0 0 0 2 0" /><path d="M12 22v-10" /><path d="M12 12l8.73 -5.04" /><path d="M3.27 6.96l8.73 5.04" /><path d="M16 19h6" /><path d="M19 16v6" /></svg>
                        Submit new theme</a>
                </div>
            </div>
        </div>
        <section>
            <% const themes=require('./data/themes.json') %>
            <div class="grid" id="themeItems">
                <% for (let key in themes) { %>
                    <%  value=themes[key] 
                        palette = value.palette

                    %>
                        <% if (key !='default' && !value.hide) { %>
                            <div class="col-6">
                                <div class="card _aos-bottom">
                                    <div><span><b><%= value.title %></b></span><span> by <%= value.author %></span></div>
                                    <p> <%= value.description %></p>
                                    <% if (palette) { %>
                                    <div><div class="_mb-05" >Palette : </div>
                                        <div class="palette">
                                            <% palette.forEach(function(p) { %>
                                                <span style="background:<%= p %>"></span>
                                             <% }); %> 
                                        </div>
                                    </div>
                                    <% } %>
                                    <div>
                                        <button class="preview-btn" data-id="<%= key %>"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M11.102 17.957c-3.204 -.307 -5.904 -2.294 -8.102 -5.957c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6a19.5 19.5 0 0 1 -.663 1.032" /><path d="M15 19l2 2l4 -4" /></svg> Preview</button>
                                        <a class="btn" href="./themes/<%= key%>.json" download="<%=key%>.json"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 11l5 5l5 -5" /><path d="M12 4l0 12" /></svg> Download</a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                <% } %>
            </div>
            <div id="pt" class="bottom-sheet">
                <div class="bs-scrim"></div>
                <div class="bs-sheet">
                    <div class="bs-handle">
                        <span></span>
                    </div>
                    <div class="bs-cnt grid">
                        <div id="pt_cnt">
                        </div>
                    </div>
                    <div class="bs-footer">
                        Close
                    </div>
                </div>

            </div>
        </section>
    </main>
    
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="wave" preserveaspectratio="none" style="margin-bottom:-7px;margin-top:2rem;">
        <defs>
            <linearGradient id="gradient2" x1="50%" y1="0%" x2="50%" y2="100%">
                <stop offset="0%" style="stop-color:#4ca3e2;" />
                <stop offset="100%" style="stop-color:var(--primary);" />
            </linearGradient>
        </defs>
        <path fill="url(#gradient2)"
            d="M0,256L26.7,245.3C53.3,235,107,213,160,197.3C213.3,181,267,171,320,186.7C373.3,203,427,245,480,234.7C533.3,224,587,160,640,133.3C693.3,107,747,117,800,144C853.3,171,907,213,960,202.7C1013.3,192,1067,128,1120,101.3C1173.3,75,1227,85,1280,101.3C1333.3,117,1387,139,1413,149.3L1440,160L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z">
        </path>
    </svg>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/gotop.ejs') %>
</body>

</html>